 <div class="text">
    <h3>
 <b> Direct Benefits:</b>
Direct benefit under the scheme includes financial assistance for cultivation purposeupto a maximum of Rs. 10,000 /- per annum and a minimum of 4,000/- per annum receivable in two equal installments during Kharif and Rabi seasons every year.Farmers with 1 acre or more of cultivable land are entitled for assistance of Rs.10,000/- per annum. Farmers with cultivable land holding of less than 1 acre will get assistance on pro-rata basis subject to a minimum assistance of Rs. 4,000/- .

Under "Krishak Bandhu Death Benefit" component of the scheme, in case of death of a farmer between the age of 18 to 60 years, the State Government provides one time lump sum grant of Rs. 2 lakh to the family of the deceased to ensure social security to the bereaved family.
<br>
<b>Other Benefits:</b>
Farmers registered in "Krishak Bandhu" scheme get preference in the State Government's paddy procurement scheme implemented by the Food & Supplies Department. The State Government is planning to extend benefits of other farmer centric government schemes to the Krishak Bandhu registered farmers.
<br>
<b>Registration:</b>
For registration and other information about the scheme, the farmers may contact the office of the Assistant Director of Agriculture of his/her block.
    </h3>
</div>